<link rel="stylesheet" href="js/bootstrap/css/bootstrap.css">

<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet" href="js/bootstrap/css/bootstrap-theme.css">
<link rel="stylesheet" href="js/jquery/plugins/backtotop/backtotop.css">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="js/jquery/jquery.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="js/bootstrap/js/bootstrap.js"></script>
<!-- Angular js -->
<script src="js/angular/angular.min.js"></script>
<script src="js/jquery/ui/jquery-ui.js"></script>
<script src="js/jquery/plugins/backtotop/BackToTop.jquery.js"></script>