<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>StudyDaily</title>
#parse("/common/import.html" )
<!-- 新 Bootstrap 核心 CSS 文件 -->
<script type="text/javascript" src="js/controller/index.js" charset="utf-8"></script>
</head>

<body ng-app>

	#parse("/common/header.html" )

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container">
			<h1>日常学习点滴</h1>
			<p>
				积累点点滴滴.<br />每天一点点，每月一小步，每年一大步！
			</p>
			<p>
				<a class="btn btn-primary btn-lg" href="#" role="button">Learn
					more &raquo;</a>
			</p>
		</div>
	</div>

	<div class="container" ng-controller="StudyListCtrl">
		<!-- Example row of columns -->
		<div class="row">
			<div class="col-sm-6 col-md-4" ng-repeat="item in studyList">
				<div class="thumbnail">
					<img alt="300x200" src="{{item.cover}}">
					<div class="caption" contenteditable="false">
						<h3>{{item.title}}</h3>
						<p>{{item.desc}}</p>
						<p>
						<a class="btn btn-primary" href="#">浏览</a> <a class="btn"
								href="#">分享</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
#parse("/common/footer.html");

</body>
</html>