<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<context:component-scan base-package="com.study.controller" />
	<bean class="com.study.context.SpringServicesContextUtil"/>
	<bean id="velocityConfigurer"
		class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="resourceLoaderPath" value="views/" />
		<property name="velocityProperties">
			<props>
				<prop key="input.encoding">utf-8</prop>
				<prop key="output.encoding">utf-8</prop>
			</props>
		</property>
	</bean>
	<bean id="velocityViewResolver"
		class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
		<property name="suffix">
			<value>.html</value>
		</property>
		<property name="contentType" value="text/html;charset=utf-8"></property>
		<property name = "exposeRequestAttributes" value = "true" />
		<property name = "exposeSpringMacroHelpers" value = "true" />
		<property name="requestContextAttribute" value="rc"/> 
		<property name = "dateToolAttribute" >
		<value > dateTool </value>
		</property >
		<property name="attributes">
			<props>
				<prop key="baseUrl">${demands.web.server.url}</prop>
				<prop key="htdocsBaseUrl">${demands.web.htdocs.baseUrl}</prop>
			</props>
		</property>
	</bean>
</beans>